/*

			Allcierge CSS
			Version 1.0
			Last Revision: Saturday, Aug 18, 2012
			
			------Color Pallette------
			
			
			
			
			
*/


/*-----Document-----*/
body {
	font-family: 'DroidSans.ttf', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	background: url('../img/background_main.png') no-repeat;
	margin: 0;
}	

/*----Typogrophy----*/
h3 {
	color: black;
}

/*----Global Navigation----*/

/* Layout */
#wrapper {
	width: auto;
	margin: 40px;
	display: block;
	color: #000;
	padding: 10px 10px 10px 38px;
}

#wrapper.shadow {
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}


#main_content {
		background: white;
		border-radius: 20px;
		padding: 10px 20px 20px 20px;
		display: block;
		width: auto;
		margin: auto;
		float: right;
}

#getStarted_content {
			background: white;
		border-radius: 20px;
		padding: 10px 20px 20px 20px;
		display: block;
		width: auto;
		margin: auto;

}

button.btnred {
	float:right;
	margin:20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #ffffff;
	padding: 15px 20px;
	background: rgb(255,66,66);
	background: -moz-linear-gradient(top,  rgba(255,66,66,1) 0%, rgba(176,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,66,66,1)), color-stop(100%,rgba(176,0,0,1)));
	background: -webkit-linear-gradient(top,  rgba(255,66,66,1) 0%,rgba(176,0,0,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,66,66,1) 0%,rgba(176,0,0,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,66,66,1) 0%,rgba(176,0,0,1) 100%);
	background: linear-gradient(top,  rgba(255,66,66,1) 0%,rgba(176,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4242', endColorstr='#b00000',GradientType=0 );
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 0px solid #134201;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.3),
		inset 0px 0px 2px rgba(255,255,255,0.3);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.3),
		inset 0px 0px 2px rgba(255,255,255,0.3);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}


.slides {
	display:block;
	width:413px;
	height:200px;
	background: #ffffff;
	border-radius:5px;
	margin: auto;
}

footer {
	clear:both;
	font-size:.75em;
	text-align:center;
	list-style: none;
}

footer a, footer a:visited {
	color:#333;
	text-decoration:none;
}

footer a:hover {
	color:#333;
	text-decoration:underline;
}

footer #footer-nav {  float:left; list-style: none; margin:inherit; padding:11px 0px 0px 16px;}
footer #footer-nav li { border-left: 1px solid #462815; float: left; font-size: 1em; line-height: 1.3; padding: 0 0.65em; }
footer #footer-nav li:first-child { border-left: none; }

#copyright { float:left; font-size: 1em; margin: inherit; padding: 10px 0px 0px 17px; }


/* ------ Font Type Styling ------*/
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on August 19, 2012 02:17:48 AM America/New_York */
@font-face {
    font-family: 'DroidSans.ttf';
    src: url('DroidSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSans-Bold.ttf';
    src: url('DroidSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


